<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student detail with  {{student.id}} is given below</h2>
   

   name: {{student.name}}
    <br>
   Age: {{student.age}}
    <br>
  Course  {{student.course}}

  <h3>View Details of others</h3>
  {%for student in new%}

  <a href="{%url 'displaymodel' student.id%}">{{student.name}}</a><br>
  {%endfor%}
</body>
</html>